body {
  background: white;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.title {
  text-align: center;
}
td,
th {
  border: 2px solid black;
  text-align: center;
  padding: 10px;
 
}

td:hover {
  transform: scale(1.03); 
  opacity: 70%;
}

th:hover {
  transform: scale(1.03); 
  opacity: 70%;
}

.kepala-tabel {
  background-color: #d4afb9;
}

.tabel {
  border-collapse: collapse;
  width: 100%;
}
.ubah {
  background-color: white;
}

.ubah:hover {
  background-color: #7ec4cf;
}

.hapus {
  background-color: white;
}

.hapus:hover {
  background-color: #f79cb1;
}

.tombol-back-bestie {
  margin-top: 40px;
}

.tombol-back-bestie a {
  background-color: white;
  font-size: 20px;
  color: black;
  padding: 7px 10px;
  text-decoration: none;
  border-radius: 20px;
}

.tombol-back-bestie a:hover {
  background-color: red;
}

