@font-face {
    font-family: "CBGBFont";
    src: url(CBGBFont.ttf);
}
@font-face {
    font-family: "Monaco";
    src: url(Monaco.ttf);
  }
body{
	background-color: lightgrey;
}
.content{
	margin-right: auto;
	margin-left: auto;
	width: auto;
}

img{
    width: 5cm;
    border-radius: 50%;
    box-shadow: 1px 1px 4px gray; 
    margin: 20px;
    padding: 0px;
    background: white;
    transition: 0.5; opacity: 95%;
  }
  img:hover{
    transform: scale(1.2); 
    opacity: 100%; 
    box-shadow: 1px 1px 6px gray;
  }
h1{
  margin: auto;
  padding: 10px;
  color: black;
  text-align: left;
  font-family: "Monaco";
}
h2{
	margin: auto;
     font-family: "CBGBFont";
}
h2:hover{
  transform: scale(1.2);  
  opacity: 100%;
}

p{
	margin-bottom: auto;
     font-family: "Monaco";
}

.navigasi{
  background-color: white;
  padding: 10px;
  text-align: left;
  font-family: "Monaco";
  box-shadow: 1px 1px 4px gray; 
}

.menu{
  padding: 20px;
  color: black;
  border: none;
  cursor: pointer;
  font-size: 16px;

  
}

.aktif {
	background-color: lightgrey;
}

.beranda{
	background-color: lightgrey;
	padding: 50px;
  text-align: center;
}

.isi{
	display: block;
	background-color: lightgrey;
	padding: 50px;
  text-align: center;
}
@media only screen and (max-width: 768px) {

    body {
        box-sizing: border-box;
    }

    h1 {
        font-size: 18px;
    }

    h3 {
        font-size: 13px;
    }
    p  {
        font-size: 11px;
    }
    img {
        width: 100px;
    }
    navigasi{
    width: 750px;
 }      
        

}
