@font-face {
    font-family: "AtypText-Semibold";
    src: url(font/AtypText-Semibold.ttf);
}
@font-face {
    font-family: "CBGBFont";
    src: url(font/CBGBFont.ttf);
}

@font-face {
    font-family: "Camar";
    src: url(font/Camar.otf);
  }
@font-face {
    font-family: "Monaco";
    src: url(font/Monaco.ttf);
  }
body{
	background-color: lightgrey;
}
.content{
	margin-right: auto;
	margin-left: auto;
	width: auto;
}

img{
    width: 5cm;
    border-radius: 50%;
    box-shadow: 1px 1px 4px gray; 
    margin: 20px;
    padding: 0px;
    background: white;
    transition: 0.5; opacity: 95%;
  }
  img:hover{
    transform: scale(1.5); 
    opacity: 100%; 
    box-shadow: 20px 20px 50px gray;
  }
h1{
  margin: auto;
  padding: 5px;
  color: black;
  text-align: left;
  font-family: "CBGBFont";

}
h2{
	margin: auto;
     font-family: "CBGBFont";
}
h2:hover{
  transform: scale(1.2);  
  opacity: 100%;
}

p{
	margin-bottom: auto;
     font-family: "Monaco";
}

.navigasi{
 
  width: 350px;
  display: flex;
  flex-direction: row;
  list-style: none;
  background-color: lightgrey;
  padding: 5px;
  font-family: "Monaco";
}

li{
    margin: auto;
    color: black;
    font-size: 15px;
    cursor: pointer;
  
}
li:after{
    display: block;
    content: '';
    border-bottom: solid 2px black;
    padding-bottom: 1%;
    transform: scaleX(0);
    transition: transform 300ms ease-in-out;
}
li:hover:after{
  transform: scaleX(1);
}
.aktif{
    display: block;
    content: '';
    border-bottom: solid 2px black;
    padding-bottom: 0;
    transform: scaleX(1);
    transition: transform 300ms ease-in-out;
}

.beranda{
	background-color: lightgrey;
	padding: 50px;
  text-align: center;
}

.isi{
	display: block;
	background-color: lightgrey;
	padding: 50px;
  text-align: center;
}
@media only screen and (max-width: 768px) {

    body {
        box-sizing: border-box;
    }

    h1 {
        font-size: 18px;
    }

    h3 {
        font-size: 13px;
    }
    p  {
        font-size: 11px;
}
   img {
        width: 300px;
}
    navigasi{
width: 750px;
 }      
        

}