@font-face {
  font-family: "poppins";
  src: url("Poppins-Medium.otf");
}

body {
  font-family: "poppins";
   width: 95%;
   margin: auto;
   padding: 10px;
}
.pala {
  font-family: "poppins";
  font-size: 30px;
}

legend {
  color: red;
}

select:hover {
  background-color: blanchedalmond;
}

option:hover {
  background-color: blanchedalmond;
}

input:hover {
  background-color: blanchedalmond;
}

textarea:hover {
  background-color: blanchedalmond;
}

.rule {
  margin: 0px 0px 0px 1rem;
  font-size: 25px;
  color: red;
}

.image-headers {
  width: 100%;
  height: auto;
  background-color: red;
  display: flex;
  align-items: center;
  justify-content: center;
}
.image-headers img {
  width: 100%;
  height: auto;
}

.rules {
  padding-bottom: 1rem;
  color: red;
  margin: auto;
}

button a {
  color: black;
  font-family: "poppins";
  text-decoration: none;
}
@media only screen and (max-width: 768px) {

    body {
        box-sizing: border-box;
    }

    h1 {
        font-size: 18px;
    }

    h3 {
        font-size: 13px;
    }

    ol li {
        font-size: 12px;
    }

    .post {
        padding: 15px;
    }

    .judulform {
        font-size: 15px;
    }

    label {
        font-size: 12px;
    }

    small {
        font-size: 9px;
    }

    .masukkan, select {
        padding: 5px 10px;
        font-size: 10px;
        margin: 5px 0 10px;
    }

    input[type=file] {
        font-size: 10px;
    }

    button {
        padding: 8px 10px;
        margin: 3px 0;
        cursor: pointer;
        font-size: 10px;
    }

}
